/*User reviews*/

#user_reviews h1
{
  text-align:center;
  font-size:50px;
  color:violet;
}
#user_details
{
  float:right;
  margin:50px;
  width:60%;
  border:5px solid lightsteelblue;
  border-radius:20px;
  
}
#user_details #user_img img
{
  width:5%;
  float:left;
}
#user_details #user_name
{
  font-family:Tahoma ;
  font-weight: bold;
  color:gray;
  padding:10px;
}
#user_details #prod_name
{
  padding-left:10%;
  color:blueviolet;
  font-size: 20px;
}
#user_details #user_typed 
{
  padding-top:20px;
  padding-left:80px;
  font-size: 30px;
}
#user_rating img
{
  float:left;
  padding-left:50px;
  width:15%;
}
#post_reviews 
{
  width: 60%;
  float:right;
}
#post_reviews h3
{
  color:brown;
  background-color: yellowgreen;
  width:65%;
  font-size: 30px;
  word-spacing: 1cm;
  text-transform: uppercase;
  padding:20px;
}
#post_reviews h4
{
  color:brown;
  font-size: 20px;
  word-spacing: 5px;
}
#post_reviews textarea
{
  width:400px;
}
#post_reviews input[type=submit]
{
  background-color: greenyellow;
  color:blue;
  font-weight: bold;
  font-family:Tahoma;
  padding:10px;
  margin-left:80px;
}
#post_reviews input[type=submit]:hover
{
  background-color: blue;
  color:white;
  cursor: pointer;
}